/* nav stuff */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.nav-bar h1 a {
    font-size: 40px;
    font-weight: bold;
    color: #ff7f50;
    text-decoration: none;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.nav-bar h1 a:hover {
    color: #ff9800;
}

.search-bar {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    flex-grow: 1;
    font-size: 16px;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: #666;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    padding: 0 10px;
    font-family: "Fjalla One", sans-serif;
}

/* center section */

.container .title {
    font-size: 28px;
    padding-top: 100px;
    padding-bottom: 40px;
    color: #D35400;
    font-weight: 100;
}

.container {
    text-align: center;
    font-family: "Marcellus SC", serif;
    background-color: #FAF3E0;
}

.container p {
    margin: 15px 300px;
    line-height: 37px;
    font-size: 18px;
    color: black;
    font-family: "Marcellus SC", serif;
    font-weight: 100;
}

.container button {
    border-radius: 30px;
    border: none;
    padding: 30px 20px;
    margin: 24px 30px;
    background-color: #FF9800;
    font-size: 16px;
    width: 200px;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container button:hover {
    background-color: #FFECB3;
}